<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.mprog.projects.npuzzle10794913"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light" >
        <activity
            android:name=".ImageSelection"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GamePlay"
            android:label="@string/title_activity_game_play"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".GamePlay2"
            android:label="@string/title_activity_game_play2"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Menu_test"
            android:label="@string/title_activity_menu_test"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".WinActivity"
            android:label="@string/title_activity_win"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
